VITE_API_BASE=https://w62srqa987.execute-api.us-east-1.amazonaws.com/prod-deploy-backend
VITE_CROWD_API_BASE=https://w62srqa987.execute-api.us-east-1.amazonaws.com/prod-deploy-backend
VITE_CROWD_API_KEY=
